<!DOCTYPE html>
<html lang="en">
<head>
    <title>simple note</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
            crossorigin="anonymous"></script>
</head>

<body>
<div class="container">
    <div class="jumbotron">
        <div class="row">
            <div class="col">
                <h2 class="display-3">Hello, <%= username %>!</h2>
            </div>
            <div class="col align-self-center d-flex justify-content-end">
                <a class="btn btn-primary" href="/logout" role="button">logout</a>
            </div>
        </div>
        <p class="lead">This is a online notebook, you can write down whatever you want.</p>
        <a class="btn btn-primary" href="/create" role="button">Try it!</a>
    </div>
</div>

<div class="container">
    <hr class="my-4">
    <p class="lead">here you can found your note(s), you can also use search to find you note quickly.</p>
    <form class="row g-3" action="/search">
        <div class="col-auto">
            <input type="text" class="form-control" id="keyword" name="q" placeholder="Hello">
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary mb-3">Search</button>
        </div>
    </form>
</div>

<% if(notes.length > 0){ %>
    <div class="container">
        <% notes.forEach((note)=>{ %>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><%= note.title %></h5>
                    <h6 class="card-subtitle mb-2 text-muted">Author: <%= note.author %></h6>
                    <p class="card-text"><%= note.content %></p>
                    <a href="/view/<%= note.id %>" class="card-link">read more</a>
                </div>
            </div>
        <% }) %>
    </div>
<% } %>

</body>
</html>
